.contenedor{
    display: flex;
    position: sticky;
    top: 0; 
    background-color: transparent  ;
    padding: 15px;
    align-items: flex-end;
    justify-content: flex-end;
}
.contenedor input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
}
.contenedor button{
    margin: 2px;
    padding: 12px;
    background-color: #fa0000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }